@import "./../../../pages/admin.component";

#sidebarToggle {
  color: $admin-primary-color;
  background-color: transparent;
  border-color: transparent;
  font-size: large;
}

.shadow {
  -webkit-box-shadow: 2px 6px 5px -4px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 2px 6px 5px -4px rgba(0, 0, 0, 0.43);
  box-shadow: 2px 6px 5px -4px rgba(0, 0, 0, 0.43);
}
